@font-face {
    font-family: 'YPairing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/YPairingFont-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

body {
  margin: 0;
  background: #e4bbbb;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden; /* 모바일 가로 스크롤 방지 */
}

#score {
  padding: 10px;
  font-size: 18px;
  color: rgb(151, 71, 71);
  font-family: 'YPairing';
}

#game {
  position: relative;
  width: 90vw;
  max-width: 400px;

  height: 135vw;
  max-height: 600px;

  background-image: url("inthesea.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px;
}

/* 🔥 플레이어 반응형 대응 */
#player {
  position: absolute;
  bottom: 0px;

  width: 25vw;          /* 모바일 대응 */
  max-width: 100px;

  height: 37vw;
  max-height: 150px;

  background-image: url("handnetktkt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 기본 블럭 */
.block {
  position: absolute;
}

/* 좋은 블럭 */
.good {
  background-image: url("nonifish.png");
  background-size: cover;
  background-position: center;

  width: 20vw;
  max-width: 80px;

  height: 20vw;
  max-height: 80px;
}

/* 나쁜 블럭 */
.bad {
  background-image: url("appleeee.png");
  background-size: cover;
  background-position: center;

  width: 10vw;
  max-width: 40px;

  height: 10vw;
  max-height: 40px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(151, 135, 113);
  font-family: 'YPairing';
}

.overlay-content {
  background: #eadab7;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
}
